@charset "utf-8";
/* 全域 */
body{
    margin: 0;
    font-family: Microsoft JhengHei;
}

p{
    font-size: 16px;
}

.blur{
    background: rgba(255, 255, 255, 0.2);
    float: none;
}

.flex_center_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction_column{
    flex-direction: column;
}

/* cover */
#cover{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

/* 同濟童軍團 */
.tj_background{
    background-image: url(../img/background_lowpoly-green.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}


#tjpic01{
    background-image: url(../img/tjpic01.jpg);
    background-size: cover;
    background-position: right;
}
#tjpic02{
    background-image: url(../img/tjpic02.jpg);
    background-size: cover;
    background-position: right;
}
#tjpic03{
    background-image: url(../img/tjpic03.jpg);
    background-size: cover;
}
#tjpic04{
    background-image: url(../img/tjpic04.jpg);
    background-size: cover;
}

.tjtext{
    padding: 5%;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}

.tjtext pre{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 5px;
}

.tjtext H1{
    text-shadow: -3px -3px 3px rgba(255, 255, 255, 0.8);
}

.tjtext H5{
    text-align: right;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

/* 童軍 */
.scout_background{
    background-image: url(../img/background_lowpoly-purple.jpg);
    background-size: cover;
    
}


.scoutpic H1{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 2px;
}

#scoutpic01{
    background-image: url(../img/scoutpic01.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#scoutpic02{
    background-image: url(../img/scoutpic02.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#scoutpic03{
    background-image: url(../img/scoutpic03.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#scoutpic04{
    background-image: url(../img/scoutpic04.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#scoutpic05{
    background-image: url(../img/scoutpic05.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#scoutpic06{
    background-image: url(../img/scoutpic06.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.scoutpic{
    cursor: pointer;
}

/* 營隊服務 */
.campService_background{
    background-image: url(../img/background_lowpoly-yellow.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#campService{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#campService_header p{
    text-align: center;
}

/* 特別活動 */
.specialEvent_background{
    background-image: url(../img/background_lowpoly-red.jpg);
    background-size: cover;
}

#specialEvent{
    display: flex;
    justify-content:space-around;
}

.specialEvent_header{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.specialEvent_inbox{
    display: flex;
}

#HKtext,
#HKpicS03,
#HKpicS04,
#UKpicS01,
#UKpicS02,
#UKpicS03,
#UKpicS04,
#UKpicL{
    float: left;
}

#HKpicS01,
#HKpicS02,
#HKpicL,
#UKtext{
    float: right;
}

#HKpicS03,
#UKpicS01{
    clear: right;
}

#HKpicS04,
#UKpicS02{
    clear: left;
}

.HKUK-L,
.HKUK-S{
    border-style: solid;
    border-color: rgba(245, 95, 130, 0.5);
    border-width: 5px;
    border-radius: 5px;
}



#HKtext{
    border-width: 10px 5px 5px 10px;
    background-color: rgba(35, 0, 5, 0.5);
}
#UKtext{
    border-width: 10px 10px 5px 5px;
    background-color: rgba(35, 0, 5, 0.5);
}
#HKpicS01,
#UKpicS01{
    border-width: 10px 5px 5px 5px;
}
#HKpicL,
#UKpicL{
    border-width: 5px 5px 10px 5px;
}
#HKpicS03{
    border-width: 5px 5px 5px 10px;
}
#HKpicS04{
    border-width: 5px 5px 10px 10px;
}
#UKpicS03{
    border-width: 5px 10px 5px 5px;
}
#UKpicS04{
    border-width: 5px 10px 10px 5px;
}




/* 樹屋 */
#treeHouse{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.treeHouse_background{
    background-image: url(../img/background_lowpoly-blue.jpg);
    background-size: cover;
}

#treeHouse img{
    max-height: 350px;
}



.swiper-slide {
    overflow: hidden;
    max-height: 350px;
    background-color: rgba(255, 255, 255, 0.3);
  }

@media (max-width: 1280px) {
    #UKtext p,
    #HKtext p{
        font-size: 12px;
    }
    
    #treeHouse img{
        max-height: 215px;
    }
    .swiper-slide {
        max-height: 215px;
      }
  }

  @media (max-width: 425px) {
    .tjScout{
        flex-direction: column;
    }
    .specialEvent_inbox{
        flex-direction: column;
    }
    .dot-navigation-block a{
        font-size: 10px;
        line-height: 10px;
    }
  }